### Laravel template
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Custom
.idea/
run.sh
composer.phar
db/mysql-data/
vendor/
docs/base/
example/

online-examination-system/public/assets/iconfonts/bootstrapicons/
online-examination-system/public/assets/iconfonts/glyphicons/
online-examination-system/public/assets/iconfonts/ionicons/
online-examination-system/public/assets/iconfonts/linearicons/
online-examination-system/public/assets/iconfonts/pe-icon-7-stroke/
online-examination-system/public/assets/iconfonts/remixicon/
online-examination-system/public/assets/iconfonts/simple-line-icons/
online-examination-system/public/assets/iconfonts/themify/
online-examination-system/public/assets/iconfonts/weathericons/
